{% extends "base.html" %}
{% load account i18n %}

{% block title %}
    {% trans "Login" %}
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">{% trans "Login" %}</h1>

        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {{ redirect_field }}
            <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
        </form>

        <p class="mt-3">
            {% blocktranslate %}Don't have an account? <a href="{{ signup_url }}">Sign up here</a>.{% endblocktranslate %}
        </p>
    </div>
{% endblock content %}
