{% extends 'base.html' %}
{% load cloudinary %}

{% block title %}Shirts - My Soccer Shirts{% endblock %}

{% block content %}
<div class="container">
    <h1>Shirts</h1>
    <div class="row">
        {% for shirt in shirts %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <!-- Use cloudinary tag for images -->
                <img class="card-img-top" src="{% cloudinary_url shirt.image %}" alt="{{ shirt.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ shirt.name }}</h5>
                    <p class="card-text">{{ shirt.description|truncatewords:20 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'shirt_detail' shirt.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                        </div>
                        <small class="text-muted">${{ shirt.price }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
